<nav class="ui menu">
  <header class="ui header item"> <a href="/"> Play Gym Member </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="goals" class="item" href="/goals"> Goals  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a class="item" href="/member" id="member"> Account </a>
    <a class="item" data-position="bottom left" data-tooltip="Logout" href="/logout" id="logout"> <i
            class="user icon"></i>
    </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>