{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    PlayList 1
  </h3>
  <p>
    A Little Playlist Maker - Version 1
    Created by IP Daly ipdaly@wit.ie
  </p>
</section>