{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Activate Gym Tracker
  </h1>
  <p>
  <h3>Here we will track and monitor your progress to achieve your fitness and well being goals.</h3>
  </p>
  <div class="ui center aligned segment">
    <img class="ui image" src="images/gym2.jpg">
  </div>
</section>
